@import "tailwindcss";

@theme {
  --font-mono: var(--font-jetbrains), monospace;
}

@layer base {
  body {
    background-color: #030303;
    color: #e6edf3;
    overflow-x: hidden;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}